`<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    
</head>
<body>
    <h1>Forget Password</h1>
    <form action="" method="post">
        
            <div class="user-box">
                <ion-icon name="person-circle-outline"></ion-icon>
                <input type="email" id="email" name="email" required="">
                <label>Email</label>
            </div>
            <div class="user-box">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" id="password" name="password" required="">
                <label>Password</label>
            </div>
            <br>
            <div class="forget">
                
                <input type="submit" value="Forgot Password?">
                
                 
                <br>
                <label for=""><input type="checkbox">Remember Me</label>
             
            </div>
            <div class="register">
                <p>Don't have an account? <a href="/signup" id="reglink">Register</a></p>
            </div>
            

        
        
    </form>
    <script src="/public/js/forgot.js"></script>
</body>
</html>
