<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width , intial-scale=1.0">
    <title>product makeup</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Tinos&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/makeup.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>

    <%- include('./companents/nav.ejs') %>
        <section class="shop" id="shop">
            <!-- <h1 class="heading">our <span>shop</span></h1> -->
            <h1 class="heading">Shop All Makeup Products</h1>
            <br>


            <!-- <div class="btn1-group"> -->
            <h2 class="headingg">CATEGORIES</h2>
            <!-- <div class="btn1-group"> -->
            <div class="btn1-group">
                <button style="width: 60px; height: 40px;"><a href="/">home</a></button>
                <button style="width: 60px; height: 40px;"><a href="/product">ALL</a></button>
                <button style="width: 60px; height: 40px;"><a href="/productcategory/lip">Lip</a></button>
                <button style="width: 60px; height: 40px;"><a href="/productcategory/face">Face</a></button>
                <button style="width: 60px; height: 40px;"><a href="/productcategory/eye">Eye</a></button>
                <button style="width: 60px; height: 40px;"><a href="/productcategory/skincare">Skincare</a></button>


            </div>