<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification</title>
</head>
<body>
    <form method="POST" action="/verification">
        <label for="verificationCode">Verification code:</label>
        <input type="text" id="verificationCode" name="verificationCode">
        <button type="submit">Verify</button>
      </form>
      
      
 <script src="/forget.js"></script> 
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification</title>
</head>
<body>
    <form action="" method="post">
        <input type="email" id="email" name="email" required="">
                    <label>Email</label>
        <label for="verificationCode">Verification code:</label>
        <input type="text" id="verificationCode" name="verificationCode">
        <button type="submit">Verify</button>
      </form>
      
      
<script src="/public/js/forgot.js"></script>
</body>
</html>